<div class="ui stackable two column divided grid container">
    <div class="row">
        <div class="postbox">
            <div class="col-lg-12">
                {{#each activities as |activity|}}
                {{!-- {{#if activity_type dataValues.activity_type activity}} --}}
                <div class="cardbox">
                    <div class="cardbox-heading">
                        <div class="media-profile m-0">
                            <div class="d-flex mr-3">
                                <span class="emoji"><i class="user icon"></i></span>
                                <div class="media-body">
                                    <h3 class="m-0">{{dataValues.user.dataValues.username}}</h3>
                                    <small><span>{{dataValues.time}} | {{dataValues.date}}</span></small><br>
                                   <small><span><h5 class="ui color image header">Activity Type:{{dataValues.activity_type}}</h5></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="body-container">
                        <h4 class="ui blue image header">Title: </h4><p>{{dataValues.title}}</p>
                        <h4 class="ui blue image header">Description: </h4><p>{{dataValues.description}}</p>
                        <a href={{dataValues.link}} target="_blank">
                            <h5 class="ui blue image header">Activity Link</h3>
                        </a><br>
                        <div class="cardbox-item">
                            <img class="img-responsive media" src="{{dataValues.image_url}}">
                        </div>
                        <h4 class="ui blue image header">Group Size: {{dataValues.group_size}}</4><br><br>
                    </div>
                     <a href="/edit-activity/{{dataValues.id}}">Edit Activity</a>
                    <div class="comments">
                        <h4 class="ui black image header">Comments</h4>
                        {{#each comments as |comment|}}
                        <div>
                            {{comment.dataValues.comment_text}} by {{comment.dataValues.user.dataValues.username}}
                        </div>
                        {{/each}}
                    </div>
                    <form class="comment-form" data-activityId={{dataValues.id}}>
                        <div>
                              <textarea name="comment-body" class="comment-area form-control" id="comment" 
                                placeholder="Write your comment..."></textarea>
                        </div>

                        <div>
                            <button type="submit" class="ui fluid large teal submit button">Post</button>
                        </div>
                    </form>
                </div>
                {{!-- {{/if}} --}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/javascript/comment.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
