<div class="postbox">
    <div class="col-lg-12">
        {{#each posts as |post|}}
        <div class="cardbox">
            <div class="cardbox-heading">
                <div class="media-profile m-0">
                    <div class="d-flex mr-3">
                        <span class="emoji">🐼 </span>
                        <div class="media-body">
                            <h3 class="m-0">{{dataValues.user.dataValues.username}}</h3>
                            <small><span>{{dataValues.time}} | {{dataValues.date}}</span></small>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="body-container">
                <h3 class="ui teal image header">{{dataValues.title}}</h3><br>
                <h5 class="ui black image header">{{dataValues.description}}</h4><br>
                <h5 class="ui black image header">{{dataValues.link_url}}</h4><br>
                    <div class="cardbox-item">
                            <img class="img-responsive media" src="{{dataValues.image_url}}">
                    </div>
            </div>
            <a href="/edit-activity/{{dataValues.id}}">Edit Activity</a>
            <div class="comments">
                <h4 class="ui black image header">Comments</h4>
                {{#each comments as |comment|}}
                <div>
                    {{comment.dataValues.comment_text}} by {{comment.dataValues.user.dataValues.username}}
                </div>
                {{/each}}
            </div>
            <form class="comment-form" data-postId={{dataValues.id}}>
                <div>
                    <textarea name="comment-body" class="comment-area form-control" placeholder="Write your comment..."></textarea>
                </div>

                <div>
                    <button type="submit" class="ui fluid large teal submit button">Post</button>
                </div>
            </form>
        </div>
        {{/each}}
    </div>
</div>

<script src="/javascript/comment.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>